{% extends "landing/baseAuth.html" %}

{% load static %}

{% block head %}
<title>Build resume</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body%}
    <h1 class="bebas-font">Build Resume</h1>
    <p>Here is a resume that we populated for you to get you started! Take a look and download it if it seems good to you.</p>

    <iframe src="https://drive.google.com/file/d/10Tv7gHbJ7T8UX7MOZ5D88n3t82ZqLErj/preview" width="100%" height="600"></iframe>

    <form method="get" action="{% static '/landing/Resume.docx' %}">
        <button class="btn navBtn centered-btn"><i class="fa fa-download"></i> Download</button>
    </form>
{% endblock %}