{% extends "landing/baseAuth.html" %}

{% load static %}

{% block head %}
<title>Resume Template</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content%}
    <h1>Resume Template</h1>

    <h2 class="text-center">Here is a resume that we populated for you. Let's get started!</h2>

    <iframe src="https://drive.google.com/file/d/1ta90QA3bmoDzGbDCke7lDRzyK8Tv4ZZF/preview" width="100%" height="600"></iframe>

    <form method="get" action="{% static '/landing/Resume.docx' %}">
        <button class="btn btn-xl-lg-txt skipBtn centeredBtn"><i class="fa fa-download"></i> Download</button>
    </form>
{% endblock %}