{% extends "landing/baseauth.html" %}

{% block head %}
<title>Homepage</title>

{% endblock %}

{% block body%}
<div class="container">
    <a href="/landing/questionnaire"><button type="button" class="btn btn-primary"> Questionnaire </button></a>
</div>
<div class="container">
    <a href="/landing/matches"><button type="button" class="btn btn-primary"> Matches </button></a>
</div>
<div class="container">
    <a href="/landing/buildresume"><button type="button" class="btn btn-primary"> Build your Resume </button></a>
</div>
{% endblock %}