{% extends "landing/baseAuth.html" %}

{% block head %}
<title>Homepage</title>

{% endblock %}

{% block content%}
    <div class="container">
        <div class="row homePageRow">
            <button type="button" class="btn homePageButtonShadow"> . </button>
            <a href="/landing/questionnaire"><button type="button" class="btn homePageButton"> QUESTIONNAIRE </button></a>
        </div>

        <div class="row homePageRow">
            <button type="button" class="btn homePageButtonShadow"> . </button>
            <a href="/landing/matches"><button type="button" class="btn homePageButton btn-block"> MATCHES </button></a>
        </div>

        <div class="row homePageRow">
            <button type="button" class="btn homePageButtonShadow"> . </button>
            <a href="/landing/buildresume"><button type="button" class="btn homePageButton btn-block"> RESUME TEMPLATE </button></a>
        </div>
    </div>
{% endblock %}