{% extends "landing/baseAuth.html" %}

{% block head %}
<title>Homepage</title>

{% endblock %}

{% block content%}
    <div class="container homePageContainer">
        <div class="row homePageRow">
            <a href="/landing/questionnaire"><button type="button" class="btn homePageButton"> Survey </button></a>
        </div>

        <div class="row homePageRow">
            <a href="/landing/matches"><button type="button" class="btn homePageButton btn-block"> Matches </button></a>
        </div>

        <div class="row homePageRow">
            <a href="/landing/buildresume"><button type="button" class="btn homePageButton btn-block"> Resume </button></a>
        </div>
    </div>
{% endblock %}