{% extends "landing/base.html" %}

{% block head %}
<title>Welcome to Tara</title>

{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome to TARA. We're excited to work with you! This can be an overwhelming time, here is some information to get you going.</h1>
</div>
<div class="container">
    <a href="/landing/journey1/"><button type="button" class="btn btn-primary"> Get Started </button></a>
</div>
<a href="/landing/login">I'm alright, let's get some matches.</a>
{% endblock %}
