{% extends "landing/base.html" %}

{% load static %}

{% block head %}
<title>T.A.R.A.</title>

{% endblock %}

{% block body %}
    <img class="landingLogo" src="{% static 'landing/images/logo.png' %}" alt="T.A.R.A.'s logo">

    <div class="landingTitle container">
        <h1 class="bebas-font">T.A.R.A.</h1>
    </div>
    <div class="container">
        <a href="/landing/journey1/">
            <button type="button" class="btn btn-lg"> Get Started</button>
        </a>
    </div>
{% endblock %}
