{% extends "landing/baseAuth.html" %}

{% load static %}

{% block head %}
<title>Nurse's aide position</title>
{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <h1>Nurse's aide</h1>
        </div>
        <div class="row">
            <img src="{% static 'landing/images/bars2.png' %}" alt="TARA's logo" width="500" height="70">
        </div>
        <div class="row">
            <p class="retraining"> <i>Level of retraining required</i></p>
        </div>
            <div class="row">
                <div class="col-sm">
                    <h3>KEY TASKS</h3>
                    <ul>
                        <li class="left-align-text nurse-list">Monitor patients to detect health problems.</li>
                        <li class="left-align-text nurse-list">Adjust positions of patients on beds or tables.</li>
                        <li class="left-align-text nurse-list">Assist patients with daily activities.  </li>
                        <li class="left-align-text nurse-list">Record vital statistics or other health information.</li>
                        <li class="left-align-text nurse-list">Assess physical conditions of patients to aid in diagnosis or treatment.</li>
                        <li class="left-align-text nurse-list">Monitor patients to detect health problems.</li>
                    </ul>
                </div>
                <div id="shittyCode" class="col-sm">
                    <div class="row">
                        <h3>TRENDS</h3>
                    </div>
                    <div class="row">
                        <img src="{% static 'landing/images/assets.png' %}" alt="NY State" width="300" height="230">
                    </div>
                    <div class="row">
                        <p class="nurse-list">PROJECTED 2026 EMLPOYMENT (NYC)</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <h3>SALARY</h3>
                    </div>
                    <div class="row">
                        <img src="{% static 'landing/images/assets2.png' %}" alt="Salaries" width="400" height="174">
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar navbar-default bottomNavBar">
            <a href="https://www.newagetraining.com ">
                <button type="button" class="btn btn-xl-lg-txt skipBtn joke"> Retraining<br />links</button>
            </a>
        </div>
{% endblock %}