{% extends "landing/baseAuth.html" %}

{% load static %}

{% block head %}
<title>Nurse's aide position</title>
{% endblock %}

{% block content%}


    <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Nurse's aide</h3>
                    <ul>
                        <li class="left-align-text">Monitor patients to detect health problems.</li>
                        <li class="left-align-text">Adjust positions of patients on beds or tables.</li>
                        <li class="left-align-text">Assist patients with daily activities.  </li>
                        <li class="left-align-text">Record vital statistics or other health information.</li>
                        <li class="left-align-text">Assess physical conditions of patients to aid in diagnosis or treatment.</li>
                        <li class="left-align-text">Monitor patients to detect health problems.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="navbar navbar-default bottomNavBar">
            <a href="https://www.newagetraining.com ">
                <button type="button" class="btn navBtn"> Do you need training?</button>
            </a>
        </div>
{% endblock %}