{% extends "landing/baseJourney.html" %}

{% block head %}
<title>Assess</title>

{% endblock %}

{% block content%}
    <h1 class="centeredTitle">Assess</h1>

    <div class="introBody">
        <p>Talk to your co-workers, to your seniors/managers ask them for advice. Take a look in your neighborhood: are there any jobs you qualify for? Looking at industries other than retail can broaden the job search.</p>
        <p><strong>Take this survey to find out alternate roles and career paths you can pursue.</strong><br />The underlying data source of this algorithm comes from the <a href="https://www.onetcenter.org/overview.html">ONET database from the Department of Labor</a>.</p>
    </div>

    <a href="/landing/questionnaire">
        <button type="button" class="btn btn-xl skipBtn centeredBtn longText"> Survey</button>
    </a>
{% endblock %}
