{% extends "landing/baseJourney.html" %}

{% block head %}
<title>Journey 2</title>

{% endblock %}

{% block body%}
    <h1 class="bebasFont UJTitle">Assess</h1>

    <div class="introBody">
        <p>Talk to your co-workers, to your seniors/managers ask them for advice. Take a look in your neighborhood: are there any jobs you qualify for? Looking at industries other than retail can broaden the job search.</p>
        <p><strong>Take this survey to find out alternate roles and career paths you can pursue.</strong></p>
    </div>
{% endblock %}
