{% extends "landing/baseJourney.html" %}

{% block head %}
<title>Journey 2</title>

{% endblock %}

{% block body%}
    <h1 class="bebas-font UJTitle">Assess</h1>

    <div class="introBody">
        <p>Your family and friends are going to be your biggest supporters during this time. Don't push them away. Have those difficult conversations. I know, it’s easier said than done. But do it, and do it today. Trust me you will feel much better. </p>
        <p> Also, talk to your co-workers, to your seniors/ managers- ask them for advice. Take a look in your neighborhood- are there any jobs you qualify for?</p>
    </div>
{% endblock %}
