<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block head%}
        Base head
        {% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light bg-light">
        <a href="/landing/login"><button type="button" class="btn btn-danger"> Skip </button></a>
        </nav>
        {% block body %}
        Base body
        {% endblock %}
        <footer class="footer">
        <a href="/landing/{{back}}"><button type="button" class="btn btn-primary"> Back </button></a>
        <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{progress}}%" aria-valuenow={{progress}} aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        <a href="/landing/{{forward}}"><button type="button" class="btn btn-secondary"> Next </button></a>
        </footer>
    </body>
</html>