{% extends "landing/baseJourney.html" %}

{% block head %}
<title>Breathe</title>

{% endblock %}

{% block content%}
    <h1 class="centeredTitle">Breathe</h1>

    <div class="introBody">
        <p>Take a deep breath. I know this is an incredibly stressful time, it can feel overwhelming. So breathe, in and out. In and out. In and out again. The coming few weeks or even months are going to be difficult and challenging. But, you can do this and I am going to be rooting for you every step of the way.</p>
        <p>Your family and friends are going to be your biggest supporters. Don't push them away. Have those difficult conversations. Trust me you will feel much better.</p>
    </div>
{% endblock %}
