{% extends "landing/baseJourney.html" %}

{% block head %}
<title>Search</title>

{% endblock %}

{% block body%}
    <h1 class="bebas-font">Search</h1>

    <div class="introBody">
        <p>You made your first ever resume and are now ready to start searching for jobs. I know you have extensive experience in retail and there are many jobs in your area that you are qualified for. One idea I had was to look at jobs in other industries- this will give you more options. Are you open to that or do you want to continue working in retail?
        </p>
    </div>
{% endblock %}