{% extends "landing/baseJourney.html" %}

{% block head %}
<title>Interview</title>

{% endblock %}

{% block content%}
    <h1 class="UJTitle">Interview</h1>

    <div class="introBody">
        <p>It was so great to know that you got your first interview call! All your hard work and determination is starting to pay off. At this stage, it is important you start preparing for interviews but do not stop applying. Remember, an interview may not translate into a job. But that's ok.
        </p>
    </div>
{% endblock %}