{% extends "landing/baseAuth.html" %}

{% load static %}

{% block head %}
<title>Matches</title>

{% endblock %}

{% block body%}
    <h1 class="bebas-font">Matches</h1>

    <div class="container jobMatches">
        <div class="text-center">
            <div class="row">
                <div class="col-sm">
                    <div class="whiteSquare">
                        <a class="marissaWhite" href="#">
                            <img src="{% static 'landing/images/stethoscope.png' %}" alt="icon - stethoscope">
                            <h2 class="bebas-font">Nurse's Aide</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="whiteSquare">
                        <a class="marissaWhite" href="#">
                            <img src="{% static 'landing/images/telephone.png' %}" alt="icon - telephone">
                            <h2 class="bebas-font">Customer Service Representative</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="whiteSquare">
                        <a class="marissaWhite" href="#">
                            <img src="{% static 'landing/images/house.png' %}" alt="icon - house">
                            <h2 class="bebas-font">Real Estate Sales Associate</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}