{% extends "landing/baseauth.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/landing/questionnaire.css' %}">

    <title>Questionnaire</title>
{% endblock %}

{% block content%}
    <h1>Questionnaire</h1>

    <div>
        <iframe id="qualtricsQuestionnaire" src="https://johnson.qualtrics.com/jfe/form/SV_br7UAxUCAgrCeoJ" width="1000" height="700"></iframe>
    </div>

    <a href="/landing/matches"><button type="button" class="btn navBtn centeredBtn"> See your matches </button></a>
{% endblock %}