@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/BebasNeue Bold.ttf");
}

@font-face {
    font-family: "Avenir Light";
    src: url("fonts/AvenirLTStd-Light.otf");
}

body {
    background-color: #e1d0c8;
    color: #000000;
    font-family: "Avenir Light";
}

h1, h2, h3, h4{
    font-family: "Bebas Neue";
    letter-spacing: 0.4em;
}

h1 {
    text-align: center;
    color: #5b5f62;
}

h2 {
    text-align: center;
    font-size: 16px;
}

h3 {
    text-align: left;
    font-size: 20px;
}

/* Top NavBar */

.topNavBar{
    padding-left: 400px;
    padding-right: 400px;
}

.skipBtn{
    background-color: #7d2716;
    color: #ffffff;
    font-family: 'Bebas Neue';
    letter-spacing: 0.4em;
    font-size: 20px;
}

.skipBtn:hover{
    background-color: #571b11;
}

/* Body content */

.centeredTitle{
    margin-top: 10%;
}

.centeredBtn{
    margin-top: 30px;
    margin-left: 47%;
}

/* Bottom NavBar */
.bottomNavBar{
    padding-left: 400px;
    padding-right: 400px;
    top: 100px;
}

.navBtn{
    background-color: #ffffff;
    color: #7d2716;
    font-family: 'Bebas Neue';
    letter-spacing: 0.4em;
    font-size: 20px;
}

.navBtn:hover{
    background-color: #bbbbbb;
}

/* Progess bar */

.timeline {
    list-style: none;
}

.badge{
    z-index: 1;
    width: 19%;
    color: black;
    position: relative;
}

.badge:hover{
    color: black;
}

.badge::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #f7ceb8;
    left: 112px;
    top: 71px;
    right: -95px;
}

.last.badge::after{
    display: none;
}

.badge img{
    width: 50px;
}

.timeline .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: #7d2716 solid 3px;
    margin: 10px auto;
    background-color: white;
    z-index: 2;
}

.footer {
    background-color: #ffffff;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

nav img{
    width: 50px;
}

/* Homepage buttons */
.homePageButton {
    background-color: #bb8f3e;
    color: #444444;
    font-size: 30px;
    padding: 25px;
    font-family: 'Bebas Neue';
    width: 500px;
    margin-left: -490px;
}

.homePageButtonShadow {
    background-color: #bb763e;
    color: #444444;
    font-size: 30px;
    padding: 25px;
    font-family: 'Bebas Neue';
    width: 500px;
    margin-top: 10px;
}

.homePageRow {
    margin-top: 20px;
    position: relative;
    left: 30%;
}