@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/BebasNeue Bold.ttf");
}

@font-face {
    font-family: "Avenir Light";
    src: url("fonts/AvenirLTStd-Light.otf");
}

body {
    background-color: #e1d0c8;
    color: #000000;
    font-family: "Avenir Light";
}

h1, h2, h3, h4 {
    font-family: "Bebas Neue";
    letter-spacing: 0.4em;
}

h1 {
    text-align: center;
    color: #433f3c;
}

h2 {
    font-size: 16px;
}

h3 {
    text-align: left;
    font-size: 20px;
}

button{
    overflow-wrap: normal;
}

/* Top NavBar */

.topNavBar{
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 90px;
}

.skipBtn{
    background-color: #7d2716;
    color: #ffffff;
    font-family: 'Bebas Neue';
    letter-spacing: 0.4em;
    box-shadow: -5px 5px #000000;
}

.skipBtn:hover{
    background-color: #571b11;
}

/* Body content */

.centeredTitle{
    font-size: 2.8em;
}

.centeredBtn{
    margin-top: 30px;
    margin-left: 44%;
}

.btn-xl-lg-txt {
    padding: 0px 20px;
    border-radius: 0px;
    width: 220px;
    height: 80px;
    font-size: 23px;
    text-align: left;
    text-transform: uppercase;
}

.btn-xl {
    padding: 10px 30px;
    border-radius: 0px;
    font-size: 40px;
    width: 220px;
    height: 80px;
}

/* Bottom NavBar */
.bottomNavBar{
    padding-left: 114px;
    padding-right: 114px;
    padding-top: auto;
    padding-bottom: auto;
}

.navBtn{
    background-color: #ffffff;
    color: #7d2716;
    font-family: 'Bebas Neue';
    letter-spacing: 0.4em;
}

.navBtn:hover{
    background-color: #bbbbbb;
}

/* Progess bar */

.timeline {
    list-style: none;
}

.badge{
    z-index: 1;
    width: 19%;
    color: black;
    position: relative;
}

.badge:hover{
    color: black;
}

.badge::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #f7ceb8;
    left: 112px;
    top: 71px;
    right: -95px;
}

.last.badge::after{
    display: none;
}

.badge img{
    width: 50px;
}

.timeline .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: #7d2716 solid 3px;
    margin: 10px auto;
    background-color: white;
    z-index: 2;
}

.footer {
    background-color: #ffffff;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.topNavBar img{
    width: 85px;
}

/* Homepage buttons */
.homePageContainer {
    margin-top: 150px;
}

.homePageRow {
    margin-top: 20px;
    position: relative;
    padding: 0% 48% 0% 22%;
}

.homePageButton {
    background-color: #dfbdaa;
    color: #444444;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    padding: 0% 33% 2% 33%;
    font-family: 'Bebas Neue';
    width: 660px;
    border-radius: 0px;
    box-shadow: -10px 10px #b76751;
}

.retraining {
    font-size: 15px;
}

.nurse-list {
    font-family: 'Avenir Light';
    font-size: 14px;
}

#shittyCode {
    padding-left: 60px;
}

.joke {
    margin-left: 1455px;
}