{% extends "landing/baseAuth.html" %}

{% block head %}
<title>Login</title>

{% endblock %}

{% block body%}
  <h1 class="bebasFont UJTitle">Login</h1>
  <div class="loginForm">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="navbar navbar-default">
        <button type="submit">Login</button>
        <div id="newUserBtn">
          <a href="/landing/">
            <button>
              Create new user
            </button>
          </a>
        </div>
      </div>
    </form>
  </div>

{% endblock %}